[2015-11-19 22:39] cbornet opened #2 "Fails on Windows"
This is because of
[code]
Windows can't find ~/jhipster (obviously)

[2015-11-19 22:46] cbornet commented on #2
Also it seems that the dir will not be created if doesn't exist so it must be created before launching vagrant up

[2015-11-20 08:44] cbornet opened #3 "Dpkg stalled at FR language installation"
[code]
should be
[code]

[2015-11-20 10:11] #3 closed

[2015-11-20 10:47] jdubois commented on #2
Yes, this is annoying, I'll remove the shared directory

[2015-11-20 10:49] #2 closed

[2015-11-20 12:56] cbornet commented on #2
Can we just comment it ? Or indicate in README how to setup the shared folder ?

[2015-11-20 13:00] jdubois commented on #2
At the moment I am not using it anyway, so this isn't important

[2015-11-23 08:24] cbornet opened #8 "Relaunchable provisionning"
It would be great to be able to update an existing devbox with the latest script by just calling ```vagrant reload --provision```

[2015-11-23 12:07] jdubois commented on #8
Have you tried it? I didn't know about this command, I've never used it before

[2015-11-23 15:28] cbornet commented on #8
Yes it restarts the VM and reruns the provisionning scripts
So there are some operations that we must exclude if we have already done them or else we get duplicate entries, unnecessary downloads, etc ...

[2015-11-26 00:15] firefoxNX opened #13 "Unable to install Guake terminal"
When trying to install Guake terminal utility from Ubuntu Software Center I am being asked by "ubuntu" user's password. What is the password for "ubuntu" user?

[2015-11-26 01:14] firefoxNX commented on #13
I was able to install using command line.

[2015-11-26 01:14] #13 closed

[2015-11-26 07:26] jdubois commented on #13
It should be already installed.
And yes you must do a "sudo" to run as root.

[2015-11-26 10:17] jdubois commented on #8
OK then it would be nice to have

[2015-11-26 10:18] jdubois opened #14 "Deploy the devbox to Atlas"
To make the box available on https://atlas.hashicorp.com/ from @cbornet

Vagrant up to start and provision the vm
Then in the vm (or by vagrant ssh) to reduce the box size :
 * sudo apt-get clean
 * sudo dd if=/dev/zero of=/EMPTY bs=1M && sudo rm -f /EMPTY
 * cat /dev/null > ~/.bash_history && history -c
(these commands could be added to the setup script)
Then "vagrant package" to package in a .bo

[2015-11-26 13:46] jdubois commented on #14
@cbornet I'm going to try to deploy it to the JHipster organization on Atlas -> if you have time to add the clean up scripts to the setup.sh, I'd merge them

[2015-11-26 15:10] jdubois commented on #14
It should be live at https://atlas.hashicorp.com/jhipster/boxes/jhipster-devbox -> but this needs to be tested first!

[2015-11-26 15:15] cbornet commented on #14
Cool ! Now I can use it as seed for my own box :+1:

[2015-11-26 15:31] jdubois commented on #14
Just tested it, the GUI isn't working :-(
@cbornet if you have any hints...

[2015-11-26 16:05] cbornet commented on #14
Did you set ```vb.gui = true``` in the Vagrantfile that pulls the box ?

[2015-11-26 16:28] jdubois commented on #14
@cbornet yes it's the one from this project... I've done a new version, I'll deploy it as v0.2.1 when it's ready

[2015-11-26 17:13] cbornet commented on #14
Note that you can test your packaged box locally before pushing
[code]
Then in the Vagrantfile
[code]

[2015-11-26 21:34] cbornet commented on #14
Oh I see ! ```sudo dd if=/dev/zero of=/EMPTY bs=1M``` terminates with an error when the disk if full.
So ```sudo rm -f /EMPTY``` is not executed, the disk is full, and nothing works anymore ...
If you remove /EMPTY from the console, then the gui starts again. It also seems some SW were not installed (eg. guake)

[2015-11-26 23:51] jdubois commented on #14
OK, I removed those: the file is much bigger but it looks like it's working! Can you test it? It's version 0.2.1 (the only one currently released)

[2015-11-27 07:21] cbornet commented on #14
Works OK but it seems heroku, mysql and chrome were not installed. Is it on purpose ?

[2015-11-27 07:25] jdubois commented on #14
Good news, at least I can deploy to Atlas!
No there is an installation problem: I also had to add Guake manually, and do an apt-get update manually -> we have something totally broken in the setup.sh script, and I don't know what or why (it was working a couple of days ago, so maybe something we merged?)

[2015-11-27 10:56] jdubois commented on #14
OK the issue comes from downloading the .m2 repo (that was added by @pascalgrimaud ). I have no idea why, but after checking out the Github repo, the build stops, and that's why the VM doesn't have everything installed

[2015-11-27 11:03] pascalgrimaud commented on #14
Oh sorry, maybe the repo is too big? I ll have a look this weekend

[2015-11-27 11:12] jdubois commented on #14
@pascalgrimaud I'm really not sure what the error is...

[2015-11-27 14:15] jdubois commented on #14
OK I did a new box, uploaded it, and it looks like it's working!
So maybe I had a network issue when I created the previous box.

[2015-11-27 14:15] #14 closed

[2015-11-29 22:19] cbornet commented on #2
Note that the dir containing the Vagrantfile is synced by default with ```/vagrant``` so another synced dir may not be needed

[2015-12-02 15:32] cbornet opened #16 "The Atlas base box should use the insecure_private_key"
Currently the deployed Atlas box embeds a private key.
As per http://docs.vagrantup.com/v2/boxes/base.html, the box, it should instead use the default insecure_private_key so that the key pair is generated when the user boots its vm.
To do this, the box that is booted for packaging should have ```config.ssh.insert_key = false``` in its Vagrantfile to prevent the ssh key pair replacement.

[2015-12-03 14:05] cbornet opened #17 "Add STS to PATH"
Or create an alias so that STS can easily be started from a terminal

[2015-12-03 14:50] pascalgrimaud commented on #17
there is a shortcut in desktop.
Isn't it enough ?

[2015-12-03 17:39] cbornet commented on #17
Well some people don't use the Desktop that much ;-)

[2015-12-05 20:04] alfredorueda opened #18 "SSL certificate problem: unable to get local issuer certificate"
  I am trying to use the latest version ( Upgrade to JHipster 2.25.0) but I have encountered the following problem:

![image](https://cloud.githubusercontent.com/assets/8808034/11609892/f2318a46-9b92-11e5-841c-f35b620de069.png)

Windows 8.1
Vagrant 1.7.3 (with Vagrant 1.7.4 fails even when trying to download the image).

I suppose it's a configuration problem in my windows environment  or a Vagran

[2015-12-05 22:28] conorgdaly opened #19 "outdated README"
STS now installed to /opt (/opt/sts-bundle/). README needs updating

[2015-12-05 23:18] #19 closed

[2015-12-17 00:07] johnsgp commented on #18
Guided by https://github.com/jhipster/jhipster-devbox/issues/16, after running 'vagrant init jhipster/jhipster-devbox', I added

    config.ssh.insert_key = false

to the Vagrantfile immediately after

    config.vm.box = "jhipster/jhipster-devbox"

This allowed 'vagrant up --provider virtualbox' to start properly and I can ssh onto the box.  I'm not sure whether this is a valid solution or not.

[2015-12-17 16:03] jdubois commented on #18
I'd be happy to do this change, but I don't know Vagrant enough to be sure if that's a good idea or not... Do you have any Vagrant documentation on this?

[2015-12-17 16:41] cbornet commented on #18
See https://docs.vagrantup.com/v2/boxes/base.html at "vagrant User":
"By default, Vagrant expects a "vagrant" user to SSH into the machine as. This user should be setup with the insecure keypair that Vagrant uses as a default to attempt to SSH.[...]When Vagrant boots a box and detects the insecure keypair, it will automatically replace it with a randomly generated keypair for additional security w

[2015-12-17 16:42] jdubois commented on #18
OK, let me try that. I'm just generating the next box for 2.26.0....

[2015-12-17 16:56] #18 closed

[2015-12-17 17:29] cbornet commented on #18
The thing is : for people who clone from github, they should set the insert_key to true to have their key pair changed.

[2015-12-17 17:35] jdubois commented on #18
@cbornet I'm not sure I understand this correctly....

- It should be set to "true" for people cloning, so they have their own key -> OK
- It should be set to "false" for people getting the box from Atlas, so everybody doesn't use the same key -> I understand the security issue, then that's just the devbox and it's running on your computer, so I'm sure there is an issue here (the ssh port is not f

[2015-12-17 17:43] #16 closed

[2015-12-17 17:49] jdubois commented on #18
After some testing: I need this to "true" for myself (for building) and for people cloning the repo (like in this ticket).

I understand this can be a security issue as the key is public, but once again this is just a VM, and your host should not forward this port anyway, so I don't think this should be an error.

We could write a warning in the README, of course, but now I'm putting this back to

[2015-12-28 16:29] r3dlin3 opened #21 "webdriver-manager is requiring root rights"
When executing `webdriver-manager update` command (automatically executed by `mvn`), it does not have the necessary rights to write to `/usr/lib/nodes_module`.
If I execute as root the update command, it works. But when I execute again mvn, even if no driver has to be updated, it tries a `chmod`, resulting in a failure.
Execute `mvn` as root fails also on `bower`.

I following this guides so I am

[2015-12-28 17:22] r3dlin3 opened #22 "Postgre instead of mysql"
jhipster is proposing to use H2 or postgre as a dev database and not mysql.
The "fast" profile recommends to use a non-memory database.
Would it not be nice to have postgre instead mysql (or both)?

[2015-12-29 13:22] jdubois commented on #21
I just tried with the latest v2.26.1 devbox version, with a project having all default options.

- no problem running `mvn`
- I don't know this `webdriver-manager` but it looks like it's for testing, so I also ran `mvn test` but I also didn't have any issue

So I understand the type of issue you have here, but I can't reproduce it, so I have to close this (unless you give more information, in whic

[2015-12-29 13:23] #21 closed

[2015-12-29 13:28] jdubois commented on #22
This has been discussed before, but yes I guess we could add Postgresql, it's not such a big deal. And we would need PGAdmin III also, of course.

[2015-12-29 14:00] pascalgrimaud commented on #21
@r3dlin3 : try to use this command `sudo chown -R vagrant /usr/lib/node_modules`
As you are root in this VM, you ll be able to be the real owner of this directory

If I remember well, webdriver-manager is used with protractor

[2015-12-29 15:09] cbornet commented on #22
Could we install docker instead ? Once you have seen the magic of ```docker-compose up -d```, you don't want to install a dev db another way anymore

[2015-12-29 15:16] pascalgrimaud commented on #22
@cbornet : yes it was the initial idea, but my first PR failed when installing docker+docker-compose :whale: for unknown reason (maybe because m2) => I should do a separate PR

Since this PR, I didn't work on adding docker because my connection sux.. 1h30~2h to test and install the VM. So your PR will be welcome

[2015-12-29 17:07] jdubois commented on #21
@pascalgrimaud that would explain why I didn't know about it -> @r3dlin3 can you confirm this?

[2016-01-12 12:48] wuethrich44 opened #23 "Create a devbox for yeoman generator developer"
As far as I understand this devbox is for developers which work with the generated application. Is there any interest in a devbox for developers which work on the yeoman generator. This devbox could have the following features:

* Atom-Editor
* Cloned jhipster-generator repo
* All sample apps cloned
* All SDK for the deployment subgen installed

What are your opinions about that?

[2016-01-12 13:06] pascalgrimaud commented on #23
I think you can already use this devbox for this => jdk, node, npm, bower, grunt, atom, etc.

Clone the original jhipster-generator is not a good idea, because you should clone your fork instead, and add remote upstream, then npm link

[2016-01-12 15:15] jdubois commented on #23
Yes, the devbox is probably already good for developping JHipster itself, just clone your fork, and all the tools are already there!

[2016-01-12 15:15] #23 closed

[2016-01-12 20:20] cbornet commented on #23
Btw, you can create your own devbox based on the jhipster own (that's what I did for my team)

[2016-01-13 20:57] wuethrich44 commented on #23
@cbornet Thanks for the tip I will do that

[2016-03-07 19:39] jdubois commented on #17
Well, for STS you're supposed to use a Desktop :-)

Anyway, yes it would be nice to have, I guess it's just adding a line to the .bash_profile?

[2016-03-07 19:39] jdubois commented on #22
As we are going "full Docker" I'm closing this! So yes it's going to be done, through Docker.

[2016-03-07 19:39] #22 closed

[2016-03-08 15:48] cbornet opened #26 "Remove sudo from installation script"
As the script is already run as sudo by vagrant

[2016-03-08 15:51] PierreBesson commented on #26
Did you test this ?

[2016-03-08 17:54] cbornet commented on #26
I did it on my vagrant box which is derived from jhipter-devbox and it worked well. I didn't test on the jhipster-devbox itself though
See https://www.vagrantup.com/docs/provisioning/shell.html#privileged

[2016-03-08 19:13] PierreBesson commented on #26
In this case I will remove them tomorrow if @jdubois agrees.
Do you have other features in your own devbox that could be useful for us ?

Le mar. 8 mars 2016 18:54, Christophe Bornet <notifications@github.com> a
écrit :

[2016-03-08 19:43] cbornet commented on #26
I had added docker docker-compose and jhipster-uml. I guess this is not needed anymore :smile:

[2016-03-10 10:36] #26 closed

[2016-03-11 09:40] cbornet opened #29 "Update Java SSL cacert"
I had to do this on my devbox to have up-to-date cacerts for the JVM
[code]

[2016-03-11 10:20] cbornet commented on #18
@jdubois I'm coming back on this after some time. I think we can leave the insert_key to true in git for people that clone the devbox.
But when you create the box for packaging to Atlas, can you be sure to set it to false so that the default ssl key is not replaced ?

[2016-03-11 10:24] jdubois commented on #18
@cbornet the problem is that I only have one box for everything :-)
I need to check how this could be changed.

[2016-03-11 10:36] cbornet commented on #18
Maybe changing back the key manually before packaging in authorized_keys
The insecure public key is:
[code]

[2016-03-11 10:41] jdubois commented on #18
You mean just deleting it from the `.ssh` directory? Would that cause any issue?

[2016-03-11 10:45] cbornet commented on #18
I mean replacing the public key that was changed when you up'ed the box the first time by this one. I don't know if it will work.
Why is it a problem to set ```config.ssh.insert_key = false``` to the Vagrantfile you use for packaging (only yours, without commiting to git) ?

[2016-03-11 13:29] #17 closed

[2016-04-08 08:51] jordanbaucke opened #30 "MySQL / MySQL Workbench not installed"
I ran the vagrant installer from Atlas and MySQL / MySQL Workbench were not installed by default.

[2016-04-08 09:02] PierreBesson commented on #30
This has been removed in the last version as the recommended way is to launch mysql with `docker-compose -f src/main/docker/mysql.yml up -d`
(see https://github.com/jhipster/jhipster-devbox/pull/25).

[2016-04-08 09:04] jordanbaucke commented on #30
@PierreBesson thanks! Is this documented so I can follow?

[2016-04-08 09:34] PierreBesson commented on #30
Glad you found the docs ! :smile:.
If you really need the workbench, you can install it by yourself using apt-get.

[2016-04-08 09:57] jordanbaucke commented on #30
@PierreBesson cheers! Already done. This maybe a naive question but if I'm working on my app in Vagrant VM should I installed Docker composer there and launch the Docker containers from within the VM or install on host machine? I guess it doesn't matter except for NAT - but I'm not seeing docker-composer installed either so I was hesitant.

[2016-04-08 10:10] PierreBesson commented on #30
docker-compose should be installed installed in the VM. If it is not it's a bug.

[2016-04-08 17:15] jordanbaucke commented on #30
Hmmm, so I'm seeing this in a fresh devbox.

![2016-04-08_10-14-59](https://cloud.githubusercontent.com/assets/354791/14391752/d0a74e96-fd72-11e5-8ff9-a80ccba36268.png)

[2016-04-08 18:23] pascalgrimaud commented on #30
It's docker-compose, not docker-composer

[2016-04-08 18:47] jordanbaucke commented on #30
@pascalgrimaud ::facepalm:: thank you for your help!

[2016-04-08 18:47] #30 closed

[2016-04-11 09:58] jdubois commented on #30
Yes for MySQL -> all servers are now installed through Docker
But for MySQL Workbench that's different, it should have been installed, I will add it to the build script for the next release.

[2016-04-15 09:12] jdubois opened #31 "Migrate from STS to IDEA Community Edition"
I just completed a training and we had so many issues with STS.... I use IDEA Ultimate Edition, but the Community Edition is free and enough to work on a normal JHipster project.
So my proposal is to migrate to IDEA Community Edition in the devbox.

[2016-04-27 20:16] cbornet opened #33 "Upgrade to Ubuntu 16.04 LTS"

[2016-04-27 20:54] pascalgrimaud commented on #33
To be sync, we should upgrade our [JHipster Docker image](https://github.com/jhipster/generator-jhipster/blob/master/Dockerfile) too with ubuntu:xenial

[2016-04-28 07:51] PierreBesson commented on #33
I will take care of it. Both for the docker image and the devbox.

[2016-04-28 07:58] PierreBesson commented on #33
However for 16.04, I don't think it's needed to use the webupd8team java version anymore (oracle java) as the openjdk provided by ubuntu will be java 8.

[2016-04-28 08:00] PierreBesson commented on #33
Once the upgrade to 16.04 is done we should also do the 3.1.0 release of the devbox.

[2016-04-28 08:28] jdubois commented on #33
Oh yes let's use OpenJDK here too, so we have the same JVM for Docker and the Devbox.

[2016-04-29 10:02] PierreBesson commented on #33
@pascalgrimaud, I have upgraded the docker image to ubuntu/xenial ([here](https://github.com/PierreBesson/generator-jhipster/blob/upgrade-docker-ubuntu-xenial/Dockerfile)) but when I test it, I have an issue with node:

[code]

Also the sudo command doesn't work properly in the container.

[2016-04-29 10:31] pascalgrimaud commented on #33
How did you test the image?
Did you create the folder before launching the container+volume?

[2016-04-29 10:51] PierreBesson commented on #33
Yes I did create the folder.
I just did a docker build . in the main generator then run the resulting image following the docs instructions.

[2016-04-29 16:47] pascalgrimaud commented on #33
I will have a look this weekend

[2016-04-30 20:03] pascalgrimaud commented on #33
@PierreBesson : I build your Dockerfile into `jhipster/jhipster:pbesson`, with minor modification: `ENV JAVA_HOME /usr/lib/jvm/java-${JAVA_VERSION}-openjdk-amd64`

Then, I type these commands:
[code]

I don't have any problem, the application is generated.

[2016-05-05 07:28] pascalgrimaud opened #34 "Add zsh + oh-my-zsh"
It could be interesting to install :
- zsh
- oh-my-zsh
- all JHipster alias: https://github.com/jhipster/jhipster-oh-my-zsh-plugin

[2016-05-05 07:32] pascalgrimaud commented on #31
Previous versions shouldn't change their link:
https://confluence.jetbrains.com/display/IntelliJIDEA/Previous+IntelliJ+IDEA+Releases

And I think older version of IntelliJ should be better than STS :dancers:

[2016-05-05 07:40] jdubois commented on #31
Good catch!! In that case let's use an older version, indeed.

[2016-05-05 07:43] pascalgrimaud commented on #31
sorry, I can't PR => my connexion at home sux so much, so I can't test before PR

[2016-05-05 07:45] jdubois commented on #31
@pascalgrimaud no problem, I have the code ready but haven't pushed yet, so don't bother doing it!

[2016-05-07 00:20] cbornet commented on #33
I have tried to build the box from ubuntu/xenial64 but it failed because the base box didn't have any vagrant user.
Can someone else confirm this ?

[2016-05-07 06:17] jdubois commented on #33
Hey I'm doing the same thing :-)
Indeed there is no Vagrant user, so I'm re-using the script I did for my trainings, with a JHipster user.

I'll commit it when I see it works, for the record the line is:

`useradd jhipster --password xTZgpKFPrv2fA --home /home/jhipster --create-home`

[2016-05-07 07:32] jdubois commented on #31
I think I have a better solution -> https://wiki.ubuntu.com/ubuntu-make

[2016-05-07 07:46] pascalgrimaud commented on #31
if it can work, let's try this !

[2016-05-07 07:57] cbornet commented on #33
Ok. Then I let you do it :-)

[2016-05-07 12:43] jdubois commented on #33
I just commited my changes -> can you have a look?

[2016-05-07 12:44] jdubois commented on #31
I have Ubuntu Make working with my latest commit, can you have a look?
I couldn't do the automatic installation, so you need to run "umake ide idea"

[2016-05-07 15:26] PierreBesson commented on #33
Oh yeah, I had the same problems when I tried to do it a few days ago. I'm not sure if adding a user will fix the problem as I couldn't even reach a graphical login screen last time.

[2016-05-07 15:27] jdubois commented on #33
Oh it's working, that's for sure!

[2016-05-07 15:28] PierreBesson commented on #33
Great !

[2016-05-07 17:26] jdubois opened #35 "Switch to xubuntu"
- At all my trainings people have trouble using Ubuntu Desktop
- XUbuntu is lighter, so I hope it will work faster

[2016-05-07 17:27] jdubois commented on #29
We will upgrade to OpenJDK anyway, as there are licenses issues with Oracle JDK, and I want to have the same JVM that we have for Docker

[2016-05-07 17:27] #29 closed

[2016-05-07 17:28] jdubois commented on #8
I don't think I can make that, the Shell script is already quite complex

[2016-05-07 17:28] #8 closed

[2016-05-07 17:29] cbornet commented on #8
Yes, I agree. And it's not that useful.

[2016-05-07 17:32] #35 closed

[2016-05-07 17:32] #31 closed

[2016-05-07 17:32] #33 closed

[2016-05-07 17:43] cbornet commented on #35
As for ubuntu desktop, I think it's because the 3D acceleration is not enabled. You need to install the vbox-extensions.

[2016-05-07 17:44] jdubois commented on #35
No it's installed and it's working, it's just the way it works that confuses users. And I expect it to be slower, also.

[2016-05-07 20:50] cbornet commented on #35
Just tested the latest box with xenial and xubuntu and it's indeed much faster.
Can't wait or the official release !

[2016-05-09 09:00] ningod opened #38 "User Julien hardcoded on vagrant image"
Using the quickstart installation procedure on windows:

`Stderr: VBoxManage.exe: error: RawFile#0 failed to create the raw output file /Users/julien/workspace/jhipster-devbox/ubuntu-xenial-16.04-cloudimg-console.log (VERR_PATH_NOT_FOUND)`

[2016-05-09 09:51] jdubois commented on #38
I do get an error message after logging, which I just ignored, but I didn't get that "julien" error.
Can you tell me where you saw it exactly?

[2016-05-09 10:10] ningod commented on #38
i followed the quick installation, my steps:

[code]

[2016-05-09 10:55] wpfeiffe commented on #38
I'm getting the same exact error. On OS X 10.11.14 with latest Vagrant:

[code]

[2016-05-09 11:40] jdubois commented on #38
OK thanks, I'm going to have a look ASAP

[2016-05-09 12:38] jdubois commented on #38
Thanks a lot @ningod @wpfeiffe there is indeed an error -> it's a bit complex to test (as this depends on the OS), but I'll push up a new version "3.2.1.1" to Atlas, trying to correct it. Will you be able to test?
I'll post another comment when it's ready (depends on my network connection).

[2016-05-09 12:55] wpfeiffe commented on #38
I'll test when I see it the ready comment.

[2016-05-09 14:07] jdubois commented on #38
And it's alive at https://atlas.hashicorp.com/jhipster/boxes/jhipster-devbox/versions/3.2.1.1

-> thanks for testing!

[2016-05-09 14:11] wpfeiffe commented on #38
Pulling it down now.  My network is slow so it'll be about an hour before I can report results.

[2016-05-09 14:31] ningod commented on #38
The problem is not solved.

I did
`vagrant box update `
and then
`vagrant up `
but the bug is still there

[code]

[2016-05-09 14:38] jdubois commented on #38
Thanks for testing -> can you totally delete your box and try again? I think that if you don't do it, you still run the older box you created with "vagrant up".
I'm not sure the error is solved, but you shouldn't have the "julien" part -> I'm pretty sure this part was removed

[2016-05-09 14:54] wpfeiffe commented on #38
It looks like I get past the original error and get stuck in the authentication loop:
`vagrant up --provider virtualbox
Bringing machine 'default' up with 'virtualbox' provider...
==> default: Checking if box 'jhipster/jhipster-devbox' is up to date...
==> default: Clearing any previously set forwarded ports...
==> default: Clearing any previously set network interfaces...
==> default: Preparing n

[2016-05-09 14:56] jdubois commented on #38
Good news already! It might take some time to startup, and during that time it's trying to reconnect... Did you wait a few minutes?

[2016-05-09 16:18] wpfeiffe commented on #38
The box started and I opened the virtualbox window and logged in as jhipster.  I expected to have to do this, however, I did not expect the command to spin on auth failure.  I will try again.  Ok command continues to fail on auth and eventually times out.  The box DOES start though.

[2016-05-09 16:38] ningod commented on #38
After totally delete my box... new problem :-(
[code]

[2016-05-09 16:48] jdubois commented on #38
At least the original problem is solved :-)
There is a first error message telling about port 22 being already used,
maybe that's the cause of the issue?
And in the VM console, do you see any error messages?
Le 9 mai 2016 6:38 PM, "Stefano Vetrini" <notifications@github.com> a
écrit :

After totally delete my box... new problem :-(

C:\Users\myuser\devel\vagrant-jhipster>vagrant up --provider virt

[2016-05-10 09:23] cbornet commented on #38
@ningod do you have another vagrant machine already started ? I had the same issue in that case.

[2016-05-10 09:45] cbornet commented on #38
Actually I have the same issue. I think it's because vagrant tries to use the user vagrant and the insecure_key and those aren't installed.
Otherwise the box boots OK. It's just that you can't run provisionning scripts (which I'm doing btw).

[2016-05-10 10:27] cbornet commented on #38
I had to add
[code]
and set jhipster as a passwordless sudoer
[code]
to make it work.

[2016-05-10 10:49] cbornet commented on #31
umake ide visual-studio-code :+1:

[2016-05-10 11:48] jdubois commented on #38
Hi, at least the first issue seems solved. But I don't understand all the other issues here -> @cbornet do you need this to do re-provisionning of the box? And the passwordless part isn't scripted, so I guess you do it afterwards?

[2016-05-10 12:01] cbornet commented on #38
Yes, I started the box, provisionning failed. Then I logged-in as jhipster, configured the jhipster passwordless sudo from a terminal, then restarted the box and provisionning succeeded using user jhipster.
Note that commands such as ```vagrant halt``` will also fail if ssh+sudo is not possible.

The initial issue is that the ubuntu/xenial64 box doesn't have the vagrant user.
The requirements for

[2016-05-10 12:04] cbornet commented on #38
I guess to script that, you could do:
[code]
The visudo command is just a utility to verify the integrity of the file before saving.

[2016-05-10 12:07] jdubois commented on #38
@cbornet yes I know for `visudo`, it's just that I see you did it manually and not scripted it, so I'm wondering what I should do here
when you say "provisionning failed", you mean you did build the image yourself, and not downloaded it from Atlas?

[2016-05-10 12:15] cbornet commented on #38
I downloaded the jhipster-devbox 3.2.1.1 from Atlas, then up'ed it with a personal provisionning script set in my Vagrantfile.

Also, better command:
[code]

[2016-05-10 12:17] jdubois commented on #38
OK, but was the original image working?
I'll test your "jhipster" user method, as it would cleaner than to have the current useless ubuntu user

[2016-05-10 12:28] ningod commented on #38
@cbornet Yes I had another VM running, but the log said that was not a problem ( port 2200 was used instead )

I tried to access to VM by Virtualbox Interface after vagrant up (and its failure ) and it all works ( except for the default french language, that i don't understand :-( )

[2016-05-10 12:31] jdubois commented on #38
OK so this confirms the original ticket is fixed.
@ningod you had an original "French" language?

[2016-05-10 12:32] jdubois commented on #38
I'm closing this as the original issue is fixed, but it seems we still have some other problems

[2016-05-10 12:32] #38 closed

[2016-05-10 12:42] ningod opened #39 "Default language is setted to french"
After log in into the VM by Virtual Box interface, system (xubuntu) is by default in french language, also the home folders are localized in french ( i.e. Desktop -> Bureau )
My host system is in English

![image](https://cloud.githubusercontent.com/assets/3158953/15146734/443c0140-16bd-11e6-950b-4c20fe3b0856.png)

[2016-05-10 12:48] jdubois commented on #39
I think it takes the language of the person who generates the image.

- this probably isn't an issue if you build the image yourself
- for the Atlas image, I guess the only solution is me setting up manually English after image build -> I'm going to do this right now, and do a new release

[2016-05-10 12:55] cbornet commented on #38
I think this should create the vagrant user correclty
[code]
I don't have time to test right now...

[2016-05-10 13:51] cbornet commented on #38
So I could make the vagrant user work with the config above.
The thing is it's configured with the insecure_keypair whereas the box was packaged with a replaced keypair (the one for ubuntu user)
So I removed vagrant_private_key and commented config.ssh.private_key_path in Vagrantfile in ```~\.vagrant.d\boxes\jhipster-VAGRANTSLASH-jhipster-devbox\3.2.1.1\virtualbox``` and it worked.

@jdubois If yo

[2016-05-10 13:59] cbornet commented on #39
English is not even proposed in settings. I think the xenial image doesn't have it.
[code]
did it for me

[2016-05-10 14:17] jdubois commented on #39
I just released a new v3.2.1.2 version on Atlas, which should solve this problem as I changed the language manually.
@cbornet I'm also adding this line to the build and testing

[2016-05-10 16:10] #39 closed

[2016-05-11 08:10] cbornet opened #40 "Issue when generating project with linked generator"
I have errors when generating a project after linking to my cloned generator-jhipster

Steps to reproduce:
* login as jhipster
* clone generator-jhipster
* sudo npm link
* create a new project
* yo jhipster
--> error

I think is because the node_modules inside /usr/lib belong to the ubuntu group (as they were pulled by the ubuntu user during box generation)
If I change ownership to jhipster, then

[2016-05-11 08:17] cbornet opened #41 "Vagrant cannot connect in ssh"
After vagrant init, the default user to connect to the box will be "vagrant" but it doesn't exist on the box
Without ssh, most vagrant commands will not work and you can't mount the shared directories.

Two solutions:
* after vagrant init, set in Vagrantfile
[code]
* create the user vagrant during provisioning
[code]
and config.ssh.insert_key = false (otherwise the vagrant will try to use the ubun

[2016-05-11 08:26] cbornet opened #42 "Disk too small"
The previous ubuntu image had a 40G disk. The new one has only 10G and its already almost full when you first start it.
I often have a lot of disk/FS errors when starting the VM (in that case I need to restart it completely) and I suspect it is due to this.

[2016-05-11 10:06] jdubois commented on #40
Very annoying....
I'll do:
    sudo chown -R jhipster $(npm config get prefix)/{lib/node_modules,bin,share}

[2016-05-11 10:20] #40 closed

[2016-05-11 10:22] jdubois commented on #41
I'll try the first solution as it looks easier, and won't fail when they add a Vagrant user

[2016-05-11 10:33] cbornet commented on #41
And jhipster must be a passwordless sudoer of course !

[2016-05-11 12:43] jdubois commented on #42
I can't find a good solution to this....
Shouldn't we go back to Ubuntu 14???

[2016-05-11 12:51] cbornet commented on #42
Yes, resizing the disk is a painful process and I don't see how to automate it

That's also what I'm thinking. The xenial box isn't mature enough I'm afraid... It looks like a simple packaging of the ubuntu cloud image without the necessary changes to make it a vagrant base box.

[2016-05-11 12:59] jdubois commented on #42
@jhipster/developers I think we should go back to using the older Ubuntu 14 for our devbox, as the new "Xenial" release is very badly packaged

[2016-05-11 12:59] cbornet commented on #42
What we could do is create an alternate xenial box that just have the vagrant user configured and the disk upped to 40GB. Then we should not upgrade that box that often.

[2016-05-11 13:11] pascalgrimaud commented on #42
Lot of new issues and lot of work since the "Xenial" release
So yes, maybe we have to think about going back to "Trusty", no objection for me

[2016-05-11 13:48] ningod commented on #39
the problem is not completly resolved.

![image](https://cloud.githubusercontent.com/assets/3158953/15183050/bd3ec37a-178f-11e6-8a72-f300bea00a88.png)

[2016-05-11 13:55] jdubois commented on #39
thanks! this box is so broken we are going to switch back to Trusty cc @jhipster/developers

I'm going to add a new ticket for this switch and close the "Xenial" tickets...

[2016-05-11 13:56] jdubois opened #43 "Switch back to Ubuntu Trusty"
We've had so many bugs with Ubuntu Xenial, let's switch back to Trusty.

[2016-05-11 13:56] jdubois commented on #42
Closed as we will switch back to Trusty - see #43

[2016-05-11 13:56] #42 closed

[2016-05-11 13:57] jdubois commented on #41
Closed as we will switch back to Trusty - see #43

[2016-05-11 13:57] #41 closed

[2016-05-11 13:59] pascalgrimaud commented on #43
@jdubois : I don't see any issues with our [Xenial Dockerfile](https://github.com/jhipster/generator-jhipster/blob/master/Dockerfile).
So will we only revert back the Devbox ?

cc @PierreBesson

[2016-05-11 14:03] jdubois commented on #43
Yes most of the issues we have are specific to Vagrant, or to the GUI.... so they won't affect our Docker build.
Then, it's probably wiser to have the same version everywhere.

[2016-05-11 14:59] PierreBesson commented on #43
I'm against reverting the Dockerfile to Trusty as we wouldn't be able use openjdk from the official repository (limited to openjdk 7 in trusty).

Really our issues are vagrant specific and they can be worked out.

[2016-05-11 15:04] jdubois commented on #43
Yes I'm just seeing this at the moment on the devbox, I had to switch to Oracle JDK, and this is very bad.
So let's keep the Docker build on Xenial

[2016-05-11 15:32] cbornet commented on #43
So what would you think of doing an intermediate box that is a fixed xenial64 box ?

[2016-05-11 15:55] jdubois commented on #43
I think that's a lot of work and that I've lost enough time with the devbox... Let's switch back to Ubuntu Trusty, it was working well.

[2016-05-11 16:01] #43 closed

[2016-05-11 16:19] cbornet commented on #43
Can we keep xubuntu ?

[2016-05-11 16:31] cbornet commented on #43
Or at least gnome-session-flashback

[2016-05-11 16:38] jdubois commented on #43
I was having errors with Xubuntu.... But yes it would be my favorite
solution.
Le 11 mai 2016 6:31 PM, "Christophe Bornet" <notifications@github.com> a
écrit :

[2016-05-11 17:52] alcidesmorales opened #44 "Vagrant fails to start in Windows"

[2016-05-11 17:58] #44 closed

[2016-05-12 07:23] cbornet commented on #43
What errors did you get ? I didn't have any issue...

[2016-05-12 08:21] jdubois commented on #43
- after login to Xubuntu, I get 2 error messages -> they can be ignored but still it's a bad first impression
- I had issues with 3D acceleration -> might be my fault, i would need more time to test
- I had issue with having French as default language -> 99% chances this is my fault, but still I need time test

So in the end I sure think we should move to Xubuntu, but it takes a long time to test,

[2016-05-12 08:57] cbornet commented on #43
My connection is too bad at the moment to test the devbox. I'll do it tonight at home.
* Yes, I also got the error messages. But I think I also got them with ubuntu-desktop
* I think this is because the vbox extensions were missing on Xenial (yet another issue). Can you test on Trusty ?
* I think it was because french was installed before english on Xenial. Can you test on Trusty ?

[2016-05-12 08:59] jdubois commented on #43
I merged your PR... So we'll soon find out if it works or not!

[2016-05-18 12:10] gmarziou opened #51 "Forward more ports for micro services"
The current configuration forwards only ports 8080 and 9000 which are the default ones for working on a monolith app, shouldn't we make it easier for micro services apps too by including port ranges like below?

[code]

[2016-05-18 12:31] jdubois commented on #51
Maybe in dev, but definitely not in prod.
The issue we only have one configuration.

[2016-05-18 12:51] gmarziou commented on #51
I was misleading by **dev**box name ;)

[2016-05-18 13:16] jdubois commented on #51
Sorry I should stop answering this with my phone :-)

[2016-05-23 09:28] PierreBesson opened #53 "Add Kitematic"
It would be useful to have Kitematic in the devbox as it can now be packaged as a .deb (see [this kitematic PR](https://github.com/docker/kitematic/pull/1677)).

The only problem is that we have to build the .deb ourself, I don't see it being distributed by Docker any time soon as the Linux support is community contributed.

To try it:
[code]

[2016-05-23 22:09] RawSanj opened #54 "Not able to login after system is locked."
**Version : 3.3.0**

**Host OS: Windows 10**

**Issue:** Not able to login with username and password as *vagrant*.

I can only login when I boot and if system gets locked, the password *vagrant* doesn't unlock the system.
Screen flashes and settles down to Locked screen.

PS: It does not give password error. *vagrant* is correct password but can't unlock system with it.

[2016-05-24 00:37] FrenchBen commented on #53
@PierreBesson Since we do have the 'release' versions available, I'm sure they can be made downloadable from the release tab.

[2016-05-24 04:41] cbornet commented on #54
Also happened to me so I deactivated the vm screen lock (the host already locks so that's fine)

[2016-05-24 05:08] RawSanj commented on #54
Apart from this, many links/button doesn't work such as About this computer, System settings, etc on top right.

[2016-05-24 08:02] PierreBesson commented on #53
@FrenchBen Great, then we will wait for the deb package to be available from the github release tab.

[2016-05-24 15:54] #54 closed

[2016-05-24 15:57] jdubois commented on #51
So to answer you correctly: yes I agree it's a good idea

[2016-05-28 01:42] zhenkyle commented on #8
Relaunchable provisioning IS a good idea. Maybe change from `shell` provisioner to `puppet` provisioner can make this idea happen?

[2016-07-26 09:26] cbornet opened #57 "Consider using bento ubuntu-16.04-amd64"
See https://atlas.hashicorp.com/kaorimatz/boxes/ubuntu-16.04-amd64
The template used is in https://github.com/kaorimatz/packer-templates/blob/master/ubuntu-16.04-amd64.json so we can see exactly what was used to generate.

[2016-08-02 12:55] jdubois commented on #57
I'd rather use the official images, and not go into validating what kaorimatz is doing. I'm pretty happy with the current box, even if it's not the latest Ubuntu version (and I don't care about it that much...).

[2016-08-02 12:55] jdubois commented on #51
@gmarziou can you a PR with those changes?

[2016-08-02 12:56] jdubois commented on #34
Yes, can you a PR?

[2016-08-02 12:57] #53 closed

[2016-08-02 16:09] gmarziou commented on #51
OK, I will

[2016-08-03 07:38] pascalgrimaud commented on #34
I will try when I m back from holidays

[2016-08-22 12:36] cbornet commented on #57
OK.
FYI, I also found the box that is used by the chef team : https://github.com/chef/bento which seem very well maintained.
https://atlas.hashicorp.com/bento/boxes/ubuntu-16.04

[2016-08-31 12:39] #34 closed

[2016-09-11 07:11] #57 closed

[2016-09-15 13:42] cbornet opened #60 "Install VSCode"
Since everybody likes VSCode, we should install it instead of Atom (very easy vith ubuntu-make)
What extensions would you like to see installed ?

[2016-09-15 14:15] jdubois commented on #60
Yeoman (which is broken at the moment) and the Java support by RedHat.

The documentation for the website is ready, I'm just waiting for our next minor release to publish it.

[2016-09-15 15:07] cbornet commented on #60
OK. I have also in mind ESLint (or TSLint ?) , Angular 1 and 2 Typescript Snippets, GitHistory, EditorConfig

[2016-09-15 15:55] PierreBesson commented on #60
Maybe we should setup the vscode workspace ([.vscode/settings.json](https://code.visualstudio.com/docs/customization/userandworkspace)) and chrome debugger ([.vscode/launch.json](https://github.com/Microsoft/vscode-chrome-debug)).

[2016-09-16 09:56] cbornet commented on #60
Note : VS code crashes on Virtualbox > 5.0.16 + 3D acceleration.
To prevent that, I have to start it with ```code --disable-gpu```. Maybe we could set the --disable-gpu in the start script.

[2016-09-16 10:02] jdubois commented on #60
Yes but isn't GPU important? I'd rather keep it than have VS Code at the moment. Intellij Community is very good for our current use case (it will change with AngularJS 2, but that's not the time yet)

[2016-09-16 10:09] cbornet commented on #60
It doesn't disable the GPU globally: it's only for VS Code

[2016-09-16 10:10] jdubois commented on #60
Oh sorry, I thought it was in VirtualBox! No problem, then.

[2016-09-16 14:24] #60 closed

[2016-09-19 09:32] lrkwz opened #65 "Run box with a specific jhipster version"
Sorry I'm a vagrant newby, is there a way to run the box for a specific jhipster version?

Thank you

[2016-09-19 09:38] jdubois commented on #65
You can install another JHipster version using "npm install".

[2016-09-19 09:38] #65 closed

[2016-09-19 09:41] lrkwz commented on #65
I meant a complete vagrant box.

You suggestion is:

- run the last vargant box
- downgrade to the needed jhipster

right?

[2016-09-19 09:43] jdubois commented on #65
Yes, you take the latest box, and use "npm install" to install another JHipster version.

Other solution is to take the Vagrant box which is linked to the JHipster you want: they have the same version number, for that purpose.

[2016-09-19 10:18] lrkwz commented on #65
I would prefere the "other solution" but how do I do it?
The list on [atlas](https://atlas.hashicorp.com/jhipster/boxes/jhipster-devbox) states

for all versions except the last one.

[2016-09-19 10:23] jdubois commented on #65
I haven't seen that yet, and to be honest I've never used it (I'm doing the images, so I don't need to....). Can't you do a "vagrant init" and specify the version number?

[2016-10-07 09:16] cbornet opened #67 "Increase inotify limit"
As per https://confluence.jetbrains.com/display/IDEADEV/Inotify+Watches+Limit

[2016-10-12 13:23] cbornet opened #68 "Install yarn"
obviously

[2016-10-12 13:25] jdubois opened #69 "Installation of Visual Studio code fails"
That's not very important for me -> we should have this through Ubuntu Make, maybe this should be totally removed in fact?
But notifying @cbornet as he coded it.

[2016-10-12 13:38] cbornet commented on #69
I'll have a look

[2016-10-12 13:38] cbornet commented on #69
Do you have the error log ?

[2016-10-12 13:41] jdubois commented on #69
Sorry I didn't keep the error log.... But just do a "vagrant up" and you will see it.

[2016-10-12 18:12] #69 closed

[2016-10-12 18:22] #67 closed

[2016-10-26 05:27] kbjp opened #73 "How is zsh setup as default shell for vagrant account ?"
Hi,
Apologies for the rookie Unix/Linux question but why is it the vagrant account ends up with zsh as its default shell when bash is listed as the default choice for that user in /etc/passwd ?
Thank you very much in advance for your patience.
Regards
kbjp

[2016-10-26 05:32] pascalgrimaud commented on #73
Hello @kbjp

With these line:
https://github.com/jhipster/jhipster-devbox/blob/master/scripts/setup.sh#L119-L123

And there is a PR to make it as default shell with guake too: https://github.com/jhipster/jhipster-devbox/pull/66

[2016-10-26 07:52] kbjp commented on #73
Thanks a lot for taking time to reply !

[2016-10-26 07:52] #73 closed

[2017-02-06 15:21] cbornet commented on #68
Since yarn is the default ?

[2017-02-06 15:23] jdubois commented on #68
Yes we need to migrate to Yarn if that's not done yet - I didn't check this part

[2017-02-06 15:53] #68 closed

[2017-02-16 09:10] gavvvr opened #75 "Not compatible with Docker for Windows"
I have windows 10 installed on my machine and used to this Vagrant image for Java developing.

Recently i installed Docker for Windows which uses Hyper-V and can't use virtualbox anymore. Thus this Vagrant image is also unavailable for me.
I would like to use Docker for Windows and this Vagrant image simultaneously, which is impossible with VirtualBox provider.

I saw in documentation that Docker

[2017-02-16 10:15] PierreBesson commented on #75
@gavvvr I really doubt this is feasible as our devbox is a graphical environment and docker is not intended to support those. How would you display the X server in windows ?

[2017-02-16 10:17] PierreBesson commented on #75
@gavvvr You might want to have a look to our JHipster docker image, instructions are on our website, it will work in docker for windows and might be what you are looking for.

[2017-02-17 13:40] jdubois commented on #75
I'm sorry I don't understand the discussion:

- There is indeed Docker working on this image, so you shouldn't have any issue
- If you want to use Docker 4 Windows, I don't understand why this would prevent you from using Vagrant?? Or there's a huge bug with Docker 4 Windows, and that's not our fault

[2017-02-17 13:41] jdubois commented on #75
Oh sorry, you want to run this image inside Docker 4 Windows? I don't think that could work, there's a whole GUI here, that's not how you're supposed to use Docker

[2017-02-17 13:41] #75 closed

[2017-02-17 13:42] jdubois commented on #51
No news from a long time, I guess this isn't that important :-)

[2017-02-17 13:42] #51 closed

[2017-02-17 23:51] gavvvr commented on #75
@jdubois maybe you can make Vagrant image which supports `hyperv` provider?
I just want to use both Docker for Windows and jhipster Vagrant image on my Windows 10 host PC.

[2017-02-18 08:44] jdubois commented on #75
Yes it's only a VirtualBox image - I don't know how to make other images, but honestly that already takes too much time for me (more than 1 hour for each release), so I won't do more.
If you know how to build one, I guess you can do `vagrant up` yourself - it just won't be available on Atlas.
Anyway, if Docker 4 Windows makes Vagrant crash, you should report a bug on the Docker team - I'm not resp

[2017-03-03 09:00] pascalgrimaud opened #76 "Yarn: add to PATH"
As mentionned here https://github.com/jhipster/generator-jhipster/issues/5343#issuecomment-283897684

the var $PATH need to be updated with
[code]
 (it's not to forget to do it)

[2017-03-03 13:33] PierreBesson commented on #76
Also we need to install Yarn with proper install and not NPM.

[2017-03-03 14:03] pascalgrimaud commented on #76
yes, but we need to check if it's ok to install with root user?
Or maybe we have to switch to user vagrant before launching the install

[2017-03-04 02:02] pascalgrimaud commented on #76
@PierreBesson : look my other PR, I kept the install Yarn with NPM. I didn't manage to use ` curl -o- -L https://yarnpkg.com/install.sh | bash` as it seems to install only for the current user (so for the root user, instead of Vagrant). So let keep like this for the moment.
Don't hesitate if you find a better way!

[2017-03-04 02:08] pascalgrimaud opened #79 "Error in logs"
I launch the installation with `vagrant up > log.txt`
Here the full log: [log.txt](https://github.com/jhipster/jhipster-devbox/files/818340/log.txt)

It need to be analyzed, as there are some errors. Here, 2 of them:
[code]

[code]

[2017-03-04 09:14] jdubois commented on #76
I also tried the installation with the .sh script, as it's the recommended
install procedure, but I'm not convinced:

- I don't understand why this would be more stable, as the curl request can
fail as well as the npm request (so the Yarn installation procedure
instructions look bogus to me)
- We already rely on NPM, so I wouldn't use yet another method to download
stuff - that's more systems that

[2017-03-05 22:47] #76 closed

[2017-03-06 10:00] PierreBesson opened #80 "Install the jetbrain toolbox app"
https://www.jetbrains.com/toolbox/app/

This can be used to upgrade IDEA and easily install the Ultimate edition.

[2017-03-06 10:39] PierreBesson opened #82 "Install KVM virtualization, docker-machine, minikube and kubectl"
Important to use kubernetes, rancher, swarm locally.
Also we are not installing virtualbox in virtualbox...

[2017-03-06 10:39] PierreBesson opened #83 "Recommend installing the devbox using the 'vagrant box‘ command"
https://www.vagrantup.com/docs/cli/box.html

install:
vagrant box add jhipster/jhipster-devbox
update:
vagrant box update jhipster/jhipster-devbox

[2017-03-06 10:41] PierreBesson opened #84 "Investigate building and publishing the box directly in Travis"
I'm sure this is possible and it's badly needed as building the box is way too slow.

[2017-03-06 14:26] cbornet commented on #80
Don't we already have ubuntu-make for that ?

[2017-03-06 15:18] jdubois commented on #80
Yes we already have Ubuntu make, and I don't want too many tools, that's already way too complex and long to build.

[2017-03-06 15:18] #80 closed

[2017-03-06 15:19] jdubois commented on #82
We already have Docker installed, this should be enough. I really don't want to have too many things, it's really far too complex already

[2017-03-06 15:19] jdubois commented on #83
Can you do a PR on the readme? I haven't looked at those, but if you say it's better...

[2017-03-06 15:21] jdubois commented on #84
Not sure this is possible, Travis is limited to one hour for a build, and on my laptop this is already a nightmare.
Normal people should not do it anyway -> I'm just building it once and then put it on Atlas, so this should be enough. I'm the only one who should be annoyed by those builds (except when you test it, of course)

[2017-03-06 17:23] cbornet commented on #82
Maybe some install scripts ready to be clicked on the Desktop could be useful ?

[2017-03-06 18:33] pascalgrimaud commented on #82
I was thinking about that:
- remove the tools which isn't used frequently
- add scripts to install these tools easily

[2017-03-06 19:07] jdubois commented on #82
+1000 yes let's do this

Le 6 mars 2017 7:33 PM, "Pascal Grimaud" <notifications@github.com> a
écrit :

[2017-03-06 22:43] PierreBesson commented on #82
+1 very good idea, much easier to test.

[2017-03-06 23:05] pascalgrimaud commented on #79
Should be easily fixed as soon as we do https://github.com/jhipster/jhipster-devbox/issues/82#issuecomment-284467519 -> so it will be easy to debug

[2017-03-06 23:05] #79 closed

[2017-03-07 07:04] pascalgrimaud commented on #82
So I propose this. Tell me if you are OK or not:
- move the tools which isn't used frequently to another folder in jhipster-devbox project: `tools`
    - python-pip + cqlsh
    - mongodb-clients
    - cloud foundry client
    - aws tools
- keep:
    - mysql-workbench
    - pgadmin3
    - toolbelt heroku
- should we keep both ? IDEA and Visual Studio Code ? I suppose Yes
- so just move the useful e

[2017-03-07 13:11] jdubois commented on #82
Yes that's the minimum for me.
For things like PGAdmin, as long as it's installed with "apt-get" the cost is very low for us. The biggest issues are the services installed with a shell script, as those take more time to install, and are much more subject to failure.

[2017-04-07 08:52] eskuai opened #87 "Error: The requested URL returned error: 407"
Do i need a atlas login ?

D:\jhipster-devbox>vagrant box add jhipster/jhipster-devbox
The box 'jhipster/jhipster-devbox' could not be found or
could not be accessed in the remote catalog. If this is a private
box on HashiCorp's Atlas, please verify you're logged in via
`vagrant login`. Also, please double-check the name. The expanded
URL and error message are shown below:

URL: ["https://atlas.ha

[2017-04-07 08:53] eskuai commented on #87
------------------------------------
And
------------------------------------
D:\jhipster-devbox>vagrant login
In a moment we will ask for your username and password to HashiCorp's
Atlas. After authenticating, we will store an access token locally on
disk. Your login details will be transmitted over a secure connection, and
are never stored on disk locally.

If you do not have an Atlas account, si

[2017-04-07 08:54] #87 closed

[2017-06-14 14:08] AngeliqueH opened #88 "Add sudo user in documentation (README.md)"
Using sudo with vagrant user gives this error:

[code]
I cannot find in documentation wich user should be used to do sudo commands.

[2017-06-14 14:13] jdubois commented on #88
I just did it without any error... Maybe you're on an old version?

[2017-06-14 14:13] #88 closed

[2017-11-07 05:37] GuruvaiahG opened #89 "While running jhipster-registry war using java -jar,not able to see the swager UI"
getting below screen
??error.title_en_US??
??error.subtitle_en_US??

??error.status_en_US?? Not Found (Not Found)
??error.message_en_US?? Not Found
Other things to try:
Search localhost:8761:

localhost 8761

[2017-11-07 07:10] pascalgrimaud commented on #89
1) you're in the jhipster-devbox project, not in the jhipster-registry
2) everything works fine for me
3) as there is not enough information to reproduce, it's not possible to help you

This ticket need to be closed.

[2017-11-07 09:20] #89 closed

[2018-01-19 09:24] dkefer opened #90 "Devbox 4.13.3 not published"
When I try to update the devbox to the current version, only version 4.13.2 is offered.

When I try to pin to the version 4.13.3 using the Vagrantfile available at https://app.vagrantup.com/jhipster/boxes/jhipster-devbox/versions/4.13.3, I get the the following error message:

==> default: Box 'jhipster/jhipster-devbox' could not be found. Attempting to find and install...
    default: Box Provide

[2018-01-19 09:26] jdubois commented on #90
Oh sorry, I forgot to click on the "release" button!
This is done now :-)

[2018-01-19 09:26] #90 closed

[2018-01-24 20:17] gmarziou commented on #90
It still does not work: error 404 on https://app.vagrantup.com/jhipster/boxes/jhipster-devbox/versions/4.13.3/providers/virtualbox.box

[2018-01-24 20:20] gmarziou commented on #90
[code]

[2018-01-24 20:40] jdubois commented on #90
I don't understand.... https://app.vagrantup.com/jhipster/boxes/jhipster-devbox/versions/4.13.3 looks OK

[2018-01-24 21:29] jdubois commented on #90
Looks like it was deleted or something - I just reuploaded it, can you check?
(yes I got fiber connection!)

[2018-01-24 21:32] gmarziou commented on #90
Works fine now, thanks.

[2018-01-29 20:44] jdubois commented on #82
I think we can close this: most of it has been done in #86 but I don't know if anybody uses it - in fact I forgot about this and never used this myself. Anyway, the current devbox looks good for most people.

[2018-01-29 20:44] #82 closed

[2018-01-29 20:46] jdubois commented on #83
The official way is:

    vagrant init jhipster/jhipster-devbox --box-version 4.13.3
    vagrant up

(from https://app.vagrantup.com/jhipster/boxes/jhipster-devbox/versions/4.13.3 )
And this works well for everyone, so I'm closing this, unless @PierreBesson you have some other comment? I don't know about the commands you use.

[2018-01-29 20:46] #83 closed

[2018-01-29 20:47] jdubois commented on #84
Using the box on https://app.vagrantup.com/jhipster/boxes/jhipster-devbox is definitely the best way to do it. I'm testing it every time, to be sure it works well. Using "vagrant up" is slow, and you can have any kind of issue in case of network error.

[2018-01-29 20:47] #84 closed

[2018-02-10 08:55] jbarbaran opened #92 "How to run GUI?"
Hi,

This is probably a silly question as I'm a newbie at JHipster.

I've just installed jhipster-devbox without problems, and connected by SSH. However, if aI understood properly you need to setup an IDE (obviously) in order to customize your JHipster application, and here is my question?

- If I use my host OS instead of Vagrant, do I have to share a folder with my host OS?

- If I prefer to do

[2018-02-10 09:02] jdubois commented on #92
I guess you can connect through SSH, but obviously you won't have a GUI easily - maybe you could do some tunneling of your X connection? But that's weird.
The normal way of using this is just opening up the GUI from VirtualBox. You should see it there. I think it can also forward it using something like VNC but I've never used it.

[2018-02-10 09:02] #92 closed

[2018-02-10 09:12] jbarbaran commented on #92
Many thanks for the quick response.

When I open the GUI on VirtualBox I get the following:

![imagen](https://user-images.githubusercontent.com/2361623/36060480-cd853fe4-0e4a-11e8-933a-ca3695638c59.png)

And I don't know what to do to make the GUI comes up...

There must be a way but I cannot figure out...
Could you give me a hint?

Thanks again!

[2018-02-10 09:16] jdubois commented on #92
Maybe it didn't install properly, it should just come up automatically... Did you install it from https://app.vagrantup.com/jhipster/boxes/jhipster-devbox ? And which version did you take?

[2018-02-10 09:20] jbarbaran commented on #92
Yes,.. I just got it running!

I did vagrant destroy, change the RAM size for the image, and I ran the image directly from VirtualBox as you said, and I can see it now..

![imagen](https://user-images.githubusercontent.com/2361623/36060545-0db7ec50-0e4c-11e8-83ce-2796e3123377.png)

Many thanks!!!

[2018-02-10 09:22] jdubois commented on #92
Awesome!

[2018-11-17 11:26] colameo opened #100 "Outdated extension for vscode"
[This extension is quite outdated](https://github.com/jhipster/jhipster-devbox/blob/9dfbe374c95e562e890edcafd8252e05ff4730bb/tools/visual-studio-code-extensions.sh#L16)... you may want to use the [official extension](https://marketplace.visualstudio.com/items?itemName=jhipster-ide.jdl)?

[2018-11-17 11:35] pascalgrimaud commented on #100
yes ! we should use the official one.
Can you PR ?

But not sure if Julien solves the issue with Devbox for JHipster v5.7.0

[2018-11-17 17:08] jdubois commented on #100
Yes we need to upgrade, I didn't know this, thanks @colameo if you can do a PR
And yes @pascalgrimaud I fixed the devbox, but I do a system update so the build isn't reproductible

[2018-11-18 10:34] colameo commented on #100
[see pr 101](https://github.com/jhipster/jhipster-devbox/pull/101).
Shall we add atom to devbox as well?

[2018-11-18 10:51] pascalgrimaud commented on #100
@colameo : we already added VSCode to devbox so I don't think it's a good idea to add both by default.

[2018-11-18 11:04] colameo commented on #100
ok fine. btw, this devbox could be made available (integrated) in the jhipster ide as feature. But don't know if it's worth ...

[2018-11-18 11:09] colameo commented on #100
...what I mean is, that by installing the jh ide developers would be able to run the devbox inside the ide (for the moment I would limit this feature to eclipse users only). ... but, but, we have more important features to provide than this ... so let's keep it in mind for the future  ;-)

[2018-11-19 06:25] #100 closed, assigned to nobody

[2018-11-19 06:30] pascalgrimaud commented on #100
@jdubois : FYI, I tested the devbox yesterday and it works well !

[2018-11-19 06:34] jdubois commented on #100
Thanks!!

[2019-05-03 11:41] BhawaniSingh opened #105 "Maintainer request"
Hello
I would like to maintain this project, I've been using jhipster since gulp time, so I would like to contribute to the project

[2019-05-03 12:53] jdubois commented on #105
Thanks a lot @BhawaniSingh !

Is it fine for you if we create a specific GitHub team for the Devbox, so you (and maybe other interested people) can have write access to the code? Then I need to check how I can give you permissions on Vagrant cloud.

[2019-05-03 13:06] BhawaniSingh commented on #105
Yeah that would be great, the issue I'm facing currently is that on bento ubuntu image, certain packages are not getting installed properly,
[code]
Is this the issue or is there any other issue. (I tried 4-5 times and every time I'm getting the same issue)

[2019-05-04 07:28] BhawaniSingh commented on #105
@jdubois Is this something to expect?

![jhipster-devbox-6](https://user-images.githubusercontent.com/2702715/57175662-218e2d80-6e6c-11e9-8d4a-7c88ce48f61a.png)

[2019-05-04 08:09] jdubois commented on #105
Yes! But I also had several packages errors, I wonder if we shouldn't move away from Bento if it's not stable enough.

[2019-05-04 09:16] BhawaniSingh commented on #105
I replaced base image "bento/ubuntu-18.04" with "ubuntu/bionic64".

[2019-05-04 16:20] jdubois commented on #105
@BhawaniSingh oh that's awesome!!

[2019-05-04 17:38] cbornet commented on #105
Let's hope the new official Ubuntu box is not as crappy as the previous one

[2019-05-07 09:39] PierreBesson commented on #105
@BhawaniSingh Thank you for stepping in as maintainer !

[2019-05-07 09:43] jdubois commented on #105
Awesome -> @BhawaniSingh I created a "Devbox maintainers" team with write access to the repo, and invited you to it. Welcome to the team!

[2019-05-07 14:23] BhawaniSingh commented on #105
@jdubois Thanks, Its an honor to be the part of the team :)

[2019-05-15 15:47] BhawaniSingh opened #108 "Older version at vagrant cloud"
I tried running
[code]
it pulled v5.8.1 instead of v6.0.1

[2019-05-15 16:25] pascalgrimaud commented on #108
Yes, it's because we didn't push a new version to the cloud.
For now, I think only @jdubois has the permission to do it. Let's wait

[2019-05-15 17:14] jdubois commented on #108
Yes I need to grant those permissions, if possible.

[2019-05-18 12:34] ahoehma opened #109 "Crash with "invalid byte sequence in UTF-8 (ArgumentError)""
I followed the instructions ... and if crashed ...

$ vagrant init jhipster/jhipster-devbox; vagrant up --provider virtualbox
A `Vagrantfile` has been placed in this directory. You are now
ready to `vagrant up` your first virtual environment! Please read
the comments in the Vagrantfile as well as documentation on
`vagrantup.com` for more information on using Vagrant.
Bringing machine 'default' up

[2019-06-23 16:25] chenjianxin commented on #108
how long for wait? there is v5.8.2 at the cloud.... I want to download v6.1.2  T_T

[2019-06-23 16:33] pascalgrimaud commented on #108
As said, only Julien can do it for now.
You can clone this project, follow instructions in README, and build your own box. I think it'll be the fastest way :)

[2020-03-21 15:45] dhamann opened #121 "docker-compose install finds no valid binary in last 4 found instances ( curl: (3) <url> malformed )"
Hi there,

i just installed the jhipster-devbox and after running through vagrant up i was not able to use docker-compose.

After a bit of digging i found out that in the following line  ... when i changed the "**head -n 4**" to "**head -n 8**" a valid binary was found again in the grepped lines.

https://github.com/jhipster/jhipster-devbox/blob/54980c3704424cb2c3b0783b5322b741a4833295/scripts/set

[2020-03-21 15:56] pascalgrimaud commented on #121
@dhamann : would you like to contribute to this project and propose your fix plz ?

[2020-03-22 11:18] dhamann commented on #121
@pascalgrimaud i was not proposing anything as i was not sure if my proposed solution would suffice.

and actually after thinking about the way the greps are chained my solution now is a different one.

i would think it might be less brittle to first "grep for Linux" then "remove the sha256" and after that "reduce via head -n 1"

see #122

[2020-03-22 12:39] pascalgrimaud commented on #121
I think it resolved the issue
Just tried it and the new `curl` command works well. The older was broken.

Thanks a lot @dhamann
I'm closing this as https://github.com/jhipster/jhipster-devbox/pull/122 has been merged

[2020-03-22 12:39] #121 closed

[2020-10-11 08:17] pascalgrimaud opened #123 "Rename the default branch from master to main"
Related to https://github.com/jhipster/generator-jhipster/issues/11935

[2020-10-11 08:50] pascalgrimaud commented on #123
done :
- create branch main from master
- protect main
- edit existing pull requests

[2020-10-11 08:50] #123 closed

[2021-03-19 14:21] kkdrz opened #128 "Disk size is too small (9.7G)"
Hey,
I've just created a vagrant box from the latest code.
Unfortunately, the disk size in the virtual machine is too small.
I know it can be fixed using a `vagrant-disksize` plugin, but shouldn't the size be larger from out-of-the-box?

The problem does not occur when building a machine from the cloud.

`df -h # from repo`
![image](https://user-images.githubusercontent.com/11796627/111794461-89b2

[2021-03-20 14:54] pascalgrimaud commented on #128
I don't use the devbox, but if you know how it can be improved, your contribution is really welcome :)